<div class="container-fluid bg-secondary p-4">
    <div class="row">
        <div class="col-4 px-4">
            <label class="text-white ">From </label>
            <select class="form-select" [(ngModel)]="searchObj.fromStationId">
                <option *ngFor="let station of stationList" [value]="station.stationID">{{station.stationName}}</option>
            </select>
        </div>
        <div class="col-4 px-4">
            <label class="text-white "> To </label>
            <select class="form-select" [(ngModel)]="searchObj.toStationId">
                <option *ngFor="let station of stationList" [value]="station.stationID">{{station.stationName}}</option>
            </select>
        </div>
        <div class="col-2 px-2">
            <label class="text-white ">Date</label>
            <input type="date" [(ngModel)]="searchObj.dateOfTravel" class="form-control" />
        </div>
        <div class="col-2 text-end">
            <button type="button" class="btn btn-primary btn-sm" (click)="getAllTrains()">Modify Search</button>
        </div>
    </div>
</div>
<div class="container-fluid pt-2">
    <p style="border: 1px solid;padding: 5px;margin-top: 5px;"><strong>{{trainsList.length}}</strong> Result Found For
        <strong>Pune</strong>
        to <strong>Nagpur</strong> on 12-12-2023</p>
    <div class="row">
        <div class="col-6 mt-2"  *ngFor="let train of trainsList">
            <div class="card">
                <div class="card-header bg-secondary text-white">
                    {{train.trainName}}
                </div>
                <div class="card-body">
                    <div class="row pb-2">
                        <div class="col-5">
                            {{train.departureTime}} | {{train.departureStationName}} | {{train.departureDate|date:'dd-MMM-yy'}}
                        </div>
                        <div class="col-2">
                            15:05 hrs
                        </div>
                        <div class="col-5 text-end">
                           {{train.arrivalTime}} | {{train.arrivalStationName}} |{{train.departureDate |date:'dd-MMM-yy'}}
                        </div>
                    </div>
                    <button *ngIf="train.bookedSeats !== train.totalSeats" (click)="openBooking(train.trainId)" class="btn btn-success btn-sm"  data-bs-toggle="modal" data-bs-target="#bookmodel"  >Book Now</button>
                   <button *ngIf="train.bookedSeats == train.totalSeats" class="btn btn-danger btn-sm"  data-bs-toggle="modal" data-bs-target="#myModal">All Booked
                             </button>
                </div>
            </div>
        </div> 
    </div>
</div>


<div class="modal " id="bookmodel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title ">Book Ticket</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeBooking()"></button>
        </div>
        <div class="modal-body">
          <div class="row  ">
                <div class="col-6 " >
                    <label >Passenger Name</label>
                <input type="text"  [(ngModel)]="bookingPassengers.passengerName"  class="form-control ">
                </div>

                <!-- [(ngModel)]="registerObj.lastName" -->

                <div class="col-4">
                    <label >Age</label>
                <input type="text" [(ngModel)]="bookingPassengers.age"   class="form-control ">
                </div>
                <div class="col-2">
                    <option value=""></option>
                    <button type="button" class="btn btn-primary mt-1 " (click)="AddPassenger()" >Add</button>
                </div>
          </div>
          <table class="table border  table-bordered ">
            <thead>
              <tr>
                <th scope="col">Sr</th>
                <th scope="col">Passenger Name</th>
                <th scope="col">Age</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let passenger of bokingObj.TrainAppBookingPassengers;let sr=index">
                <td>{{sr+1}}</td>
                <td>{{passenger.passengerName}}</td>
                <td>{{passenger.age}}</td>
                <td><button class="btn btn-danger " (click)="onRemove(sr)">Cancel Booking</button></td>
              </tr>
            </tbody>
          </table>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger " data-bs-dismiss="modal" (click)="closeBooking()" >Close</button>
          <button type="button" class="btn btn-success " >Confirm Booking</button>
        </div>
      </div>
    </div>
  </div>
